/**************
MASTER CSS
**************/

html {
  overflow-y: scroll;
}

h4 {
  color: #535d6d;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-weight: 550;
}


/**************
AUTH VIEW
**************/

.margin-top {
  margin-top: 5%;
}

.center {
  margin: 0 auto;
}


/**************
DASHBOARD VIEW
**************/

.doughnut-labels {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 1.3em;
  color: #535d6d;
}

/**************
MY DOMAINS VIEW
**************/


.odd {
  background-color: #90A4AE;
}

.even {
  background-color: #D3D3D3;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.black-border {
  border-top: 1px solid black;
}

/* label focus color */
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #535d6d;
}
/* label underline focus color */
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #535d6d;
    box-shadow: 0 1px 0 0 #535d6d;
  }
