<a class="waves-effect waves-light btn" ng-click="setLoginContainer()">Login</a>
<a class="waves-effect waves-light btn" ng-click="setRegisterContainer()">Register</a>

<div ng-show="loginContainer" class="row">
  <h3>Login</h3>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s3">
        <input type="email" class="validate" ng-model="login.email" required autofocus>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="password" class="validate" ng-model="login.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="loginUser(login)">Login
      <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="loginGoogleUser(login)">Login with Google
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<div ng-show="registerContainer">
  <h3>Register</h3>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s3">
        <input type="email" class="validate" ng-model="registration.email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="password" class="validate" ng-model="registration.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="text" class="validate" ng-model="registration.username" required>
        <label for="text">User Name</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="registerUser(registration)">Register
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
