<h4>{{user.username}}'s Submitted Domains</h4>

<div class="row">
  <div class="input-field col s3">
    <input type="text" class="validate" ng-keyup="searchDomains(domainName)" ng-model="domainName" required>
    <label for="text">Enter Domain Name</label>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action" ng-show="displayDomainSubmitButton" ng-click="">Submit!
    <i class="material-icons right">send</i>
  </button>
</div>

<div class="row">
  <div ng-repeat="domain in submittedDomains">
    <div class="row">
      <div class="col s12">
        <a class="btn-floating btn-md" ng-click="getMyCtrlScope().editDomainThenReloadDomains()">
          <i class="large material-icons">mode_edit</i>
        </a>
        <a class="btn-floating btn-md red" ng-click="getMyCtrlScope().deleteDomainThenReloadDomains(domain.id)">
          <i class="large material-icons">delete</i>
        </a>
        {{domain.domainName}}
      </div>
    </div>
  </div>
</div>
